<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-purple">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
        </svg>      
    </div>
</div>
<footer class="py-11  bg-purple position-relative">
    <svg width="65" height="60" viewBox="0 0 210 194" class="footer-logo"  data-aos="fade-up"  data-aos-delay="50">
        <path d="M105.0614,193.655 L105.0614,193.655 L143.7014,74.734 L66.4214,74.734 L105.0614,193.655 L105.0614,193.655 Z" fill="#E24329" class="logo-svg-shape logo-dark-orange-shape"></path>
        <path d="M105.0614,193.6548 L66.4214,74.7338 L12.2684,74.7338 L105.0614,193.6548 Z" fill="#FC6D26" class="logo-svg-shape logo-orange-shape"></path>
        <path d="M12.2685,74.7341 L12.2685,74.7341 L0.5265,110.8731 C-0.5445,114.1691 0.6285,117.7801 3.4325,119.8171 L105.0615,193.6551 L12.2685,74.7341 Z" fill="#FCA326" class="logo-svg-shape logo-light-orange-shape"></path>
        <path d="M12.2685,74.7342 L66.4215,74.7342 L43.1485,3.1092 C41.9515,-0.5768 36.7375,-0.5758 35.5405,3.1092 L12.2685,74.7342 Z" fill="#E24329" class="logo-svg-shape logo-dark-orange-shape"></path>
        <path d="M105.0614,193.6548 L143.7014,74.7338 L197.8544,74.7338 L105.0614,193.6548 Z" fill="#FC6D26" class="logo-svg-shape logo-orange-shape"></path>
        <path d="M197.8544,74.7341 L197.8544,74.7341 L209.5964,110.8731 C210.6674,114.1691 209.4944,117.7801 206.6904,119.8171 L105.0614,193.6551 L197.8544,74.7341 Z" fill="#FCA326" class="logo-svg-shape logo-light-orange-shape"></path>
        <path d="M197.8544,74.7342 L143.7014,74.7342 L166.9744,3.1092 C168.1714,-0.5768 173.3854,-0.5758 174.5824,3.1092 L197.8544,74.7342 Z" fill="#E24329" class="logo-svg-shape logo-dark-orange-shape"></path>
        </svg>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-2"  data-aos="fade-up"  data-aos-delay="100">
  
          <!-- Brand -->
          <img src="../../../assets/img/slp-logo.svg" alt="..." class="footer-brand img-fluid mb-2">
  
          <!-- Text -->
          <p class="text-purple-light mb-2">
            The DevOps Platform
          </p>
  
          <!-- Social -->
          <ul class="list-unstyled list-inline text-light-gray list-social mb-6 mb-md-0" >
            <li class="list-inline-item list-social-item me-3">
                <a href="https://twitter.com/gitlab" rel="noopener">
                    <i class="fab fa-twitter"></i>
                    <span class="sr-only">Twitter</span>
                </a>
            </li>
            <li class="list-inline-item list-social-item me-3">
                <a href="https://www.facebook.com/gitlab"><i class="fab fa-facebook"  rel="noopener"></i>
                    <span class="sr-only">Facebook</span>
                </a>
            </li>
            <li class="list-inline-item list-social-item me-3">
                <a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"  rel="noopener"><i class="fab fa-youtube"></i>
                    <span class="sr-only">YouTube</span>
                    </a>
            </li>
            <li class="list-inline-item list-social-item">
                <a href="https://www.linkedin.com/company/gitlab-com"  rel="noopener"><i class="fab fa-linkedin"></i>
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>
          </ul>
  
        </div>
        <div class="col-6 col-md-4 col-lg-2" data-aos="fade-up"  data-aos-delay="100">
  
          <!-- Heading -->
          <h6 class="fw-bold text-uppercase text-purple-light">
            Why GitLab?
          </h6>
  
          <!-- List -->
          <ul class="footer-links list-unstyled text-light-gray  mb-6 mb-md-8 mb-lg-0">
                <li class="mb-3" ><a rel="noreferrer" href="https://about.gitlab.com/stages-devops-lifecycle/" class="footer-nav-link">Product</a></li>
                <li class="mb-3"><a rel="noopener" href="https://about.gitlab.com/solutions/" class="footer-nav-link">Solutions</a></li>
                <li class="mb-3"><a rel="noopener" href="https://about.gitlab.com/services/" class="footer-nav-link">Services</a></li>
                <li class="mb-3"><a rel="noopener" href="https://about.gitlab.com/devops-tools/" class="footer-nav-link">DevOps tools</a></li>
                <li class="mb-3"><a rel="noopener" href="https://about.gitlab.com/is-it-any-good/" class="footer-nav-link">Is it any good?</a></li>
                <li class="mb-3"><a  rel="noopener" href="https://about.gitlab.com/releases/" class="footer-nav-link">Releases</a></li>
                <li class="mb-3"><a  rel="noopener"  href="https://about.gitlab.com/pricing/" class="footer-nav-link">Pricing</a></li>
                <li class="mb-3"><a  rel="noopener" href="https://about.gitlab.com/get-started/" class="footer-nav-link">Get started</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-lg-2" data-aos="fade-up"  data-aos-delay="100">
  
          <!-- Heading -->
          <h6 class="fw-bold text-uppercase text-purple-light">
            Resources
          </h6>
  
          <!-- List -->
          <ul class="footer-links list-unstyled text-light-gray  mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3"><a href="https://about.gitlab.com/resources/" class="footer-nav-link">All resources</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/company/culture/all-remote/" class="footer-nav-link">All-Remote</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/blog/" class="footer-nav-link">Blog</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/company/contact/" class="footer-nav-link">Newsletter</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/events/" class="footer-nav-link">Events</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/webcast/" class="footer-nav-link">Webcasts</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/topics/" class="footer-nav-link">Topics</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/learn/" class="footer-nav-link">Training</a></li>
            <li class="mb-3"><a href="https://docs.gitlab.com/" class="footer-nav-link">Docs</a></li>
            <li class="mb-3"> <a href="https://developer.gitlab.com/" class="footer-nav-link">Developer Portal</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/install/" class="footer-nav-link">Install</a></li>
          </ul>
  
        </div>
        <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0" data-aos="fade-up"  data-aos-delay="100">
  
          <!-- Heading -->
          <h6 class="fw-bold text-uppercase text-purple-light">
            Community
          </h6>
  
          <!-- List -->
          <ul class="footer-links list-unstyled text-light-gray  mb-0">
            <li class="mb-3"><a href="https://about.gitlab.com/customers/" class="footer-nav-link">Customers</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/community/contribute/" class="footer-nav-link">Contribute</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/community/" class="footer-nav-link">Community Programs</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/direction/" class="footer-nav-link">Direction</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/partners/technology-partners/" class="footer-nav-link">Technology Partners</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/partners/" class="footer-nav-link">Channel Partners</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/solutions/open-source/partners/" class="footer-nav-link">Open Source Partners</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/solutions/open-source/" class="footer-nav-link">GitLab for Open Source</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/solutions/education/" class="footer-nav-link">GitLab for Education</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/solutions/startups/" class="footer-nav-link">GitLab for Startups</a></li>
            <li class="mb-3"><a href="https://shop.gitlab.com" class="footer-nav-link">Shop</a></li>
            <li class="mb-3"><a href="https://forum.gitlab.com/" class="footer-nav-link">Community Forum</a></li>
          </ul>
  
        </div>
        <div class="col-6 col-md-4 col-lg-2" data-aos="fade-up"  data-aos-delay="100">
  
          <!-- Heading -->
          <h6 class="fw-bold text-uppercase  text-purple-light">
            Support
          </h6>
  
          <!-- List -->
          <ul class="footer-links list-unstyled text-light-gray  mb-0">
            <li class="mb-3"><a href="https://about.gitlab.com/get-help/" class="footer-nav-link">Get help</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/sales/" class="footer-nav-link">Contact Sales</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/support/#contact-support" class="footer-nav-link">Contact Support</a></li>
            <li class="mb-3"><a href="https://about.gitlab.com/support/" class="footer-nav-link">Support options</a></li>
            <li class="mb-3"><a href="https://status.gitlab.com/" class="footer-nav-link">Status</a></li>
            <li class="mb-3"><a href="https://customers.gitlab.com/" class="footer-nav-link">Customers Portal</a></li>
          </ul>
  
        </div>
        <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0" data-aos="fade-up"  data-aos-delay="100">
  
            <!-- Heading -->
            <h6 class="fw-bold text-uppercase  text-purple-light">
                Company
            </h6>
    
            <!-- List -->
            <ul class="footer-links list-unstyled text-light-gray mb-0">
                <li class="mb-3"><a href="https://about.gitlab.com/company/" class="footer-nav-link">About</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/what-is-gitlab/" class="footer-nav-link">What is GitLab?</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/jobs/" class="footer-nav-link">Jobs</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/company/culture/" class="footer-nav-link">Culture</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/company/team/e-group/" class="footer-nav-link">Leadership</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/company/team/" class="footer-nav-link">Team</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/press/" class="footer-nav-link">Press</a></li>
                <li class="mb-3"><a href="https://about.gitlab.comhttps://ir.gitlab.com" class="footer-nav-link">Investor Relations</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/analysts/" class="footer-nav-link">Analysts</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/handbook/" class="footer-nav-link">Handbook</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/security/" class="footer-nav-link">Security</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/company/contact/" class="footer-nav-link">Contact</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/terms/" class="footer-nav-link">Terms</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/privacy/" class="footer-nav-link">Privacy</a></li>
                <li class="mb-3"><a href="https://about.gitlab.com/handbook/marketing/corporate-marketing/brand-activation/brand-standards/#trademark" class="footer-nav-link">Trademark</a></li>
            </ul>
    
          </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </footer>
