<nav class="navbar navbar-expand-lg " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
      <a class="navbar-brand" name="home" href="/"><img src="../../../assets/img/slp-icon.svg" alt="icon gitlab" class="nav:slp-hidden lg:slp-inline-block slp-relative" style="top: 0.8rem;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-end" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
         <!--  <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>-->
          <li class="nav-item">
            <a class="btn btn-lg btn-outline-dark btn-transition" href="https://about.gitlab.com/sales/">Talk to an expert</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-lg btn-orange btn-transition" href="https://about.gitlab.com/free-trial/">Get free trial</a>
          </li>
          <li class="nav-item">   
            <a class="btn " href="https://gitlab.com/users/sign_in?__cf_chl_jschl_tk__=I3rEbMPbnu3kxytoVeXP4anI7i4Xh9JdCfgEHHRGkK8-1636340304-0-gaNycGzNEVE">Login</a>
          </li>
        </ul> 
      </div>
</nav>
