<section id="section-testimonial" class="mb-5 py-5 "> 
    <div class="container">
        <div class="row col-md-8 mx-auto text-center header-section text-gray-dark">
            <h2 class="mb-4 text-gray-dark" data-aos="fade-up"  data-aos-delay="50">Trusted by the companies you use worldwide, loved by developers</h2> 
            <p class="mb-24"  data-aos="fade-up"  data-aos-delay="50"><a href="https://about.gitlab.com/customers/" target="_blank" style="text-decoration: underline;; display: inline;" class="customer-highlight__link u-text-light">Read more customer case studies</a></p>
        </div>
        <div class="card card-row shadow-lg border border-light my-5"  data-aos="flip-up"  data-aos-delay="50">
            <div class="row gx-0">
                <div class="col-12 col-md-12 col-lg-6 position-relative">
                    <swiper [config]="config" [effect]="'fade'" [centeredSlides]="true" class="mySwiperT h-100">
                        <ng-template swiperSlide>
                                <img src="../../../../assets/img/card/Goldman_Sachs_case_study.jpg" class="clip-diagonal card-img-top h-100" alt="Goldman Sachs case study"> 
                        </ng-template>
                        <ng-template swiperSlide>
                            <img src="../../../../assets/img/card/siemenscoverimage_casestudy.jpg" class="clip-diagonal card-img-top h-100" alt="Siemens case study"> 
                        </ng-template>
                        <ng-template swiperSlide>
                            <img src="../../../../assets/img/card/nvidia.jpg" class="clip-diagonal card-img-top h-100" alt="Nvidia case study"> 
                        </ng-template>
                        <ng-template swiperSlide>
                            <img src="../../../../assets/img/card/ESA_case_study_image.jpg" class="clip-diagonal card-img-top h-100" alt="ESA case study"> 
                        </ng-template>
                        <ng-template swiperSlide>
                            <img src="../../../../assets/img/card/cncf-case-study-image.png" class="clip-diagonal card-img-top h-100" alt="ESA case study"> 
                        </ng-template>
                    </swiper>
                    <div class="shape shape-end shape-fluid-y text-white d-none d-md-block">
                        <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"></path></svg>                  
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 position-md-static">
                    <swiper  [config]="config" [centeredSlides]="true" class="mySwiperT h-100">
                        <ng-template swiperSlide>
                            <div class="card-body p-5 h-100">                           
                                <blockquote class="blockquote text-center align-items-center mb-0 h-100">
                                    <!-- Brand -->
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                                            <!-- Logo -->
                                            <div class="img-fluid">                         
                                                <img src="../../../assets/img/customers/logo_goldman_sachs.svg" class="filter-goldman" alt="Goldman Sachs case study" width="150"> 
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                    <!-- Text -->
                                    <p class="mb-5 mb-md-7">
                                    “We’re bringing into the firm a platform that our engineers actually want to use – which helps drive adoption across multiple teams and increase productivity without having to ‘force’ anyone to adopt it. This is really helping to create an ecosystem where our end users are actively helping us drive towards our strategic goals - more releases, better controls, better software.”
                                    </p>
                                    <blockquote class="blockquote">
                                        <span text-uppercase><b>George Grant</b></span>
                                    </blockquote>
                                    <!-- Footer -->
                                    <footer class="blockquote-footer">
                                    <span class="h6 text-uppercase">VP TECHNOLOGY FELLOW, GOLDMAN SACHS</span>

                                    </footer>

                                </blockquote>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="card-body p-5 h-100">                           
                                <blockquote class="blockquote text-center align-items-center mb-0 h-100">
                                    <!-- Brand -->
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                                            <!-- Logo -->
                                            <div class="img-fluid">                         
                                                <img src="../../../assets/img/customers/logo_siemens.bw.svg" class="filter-siemers" alt="Siemens case study" width="150"> 
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                    <!-- Text -->
                                    <p class="mb-5 mb-md-7">
                                    “We’re bringing into the firm a platform that our engineers actually want to use – which helps drive adoption across multiple teams and increase productivity without having to ‘force’ anyone to adopt it. This is really helping to create an ecosystem where our end users are actively helping us drive towards our strategic goals - more releases, better controls, better software.”
                                    </p>
                                    <blockquote class="blockquote">
                                        <span text-uppercase><b>Fabio Huser</b></span>
                                    </blockquote>
                                    <!-- Footer -->
                                    <footer class="blockquote-footer">
                                    <span class="h6 text-uppercase">SOFTWARE ARCHITECT AT SIEMENS SMART INFRASTRUCTURE</span>

                                    </footer>

                                </blockquote>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="card-body p-5 h-100">                           
                                <blockquote class="blockquote text-center align-items-center mb-0 h-100">
                                    <!-- Brand -->
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                                            <!-- Logo -->
                                            <div class="img-fluid">                         
                                                <img src="../../../assets/img/customers/logo_nvidia.svg" class="filter-nvidia" alt="Nvidia case study" width="150"> 
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                    <!-- Text -->
                                    <p class="mb-5 mb-md-7">
                                    “Without GitLab, we'd be wasting engineering time with lots of individual little servers being managed around the world. We would probably have a lot more headaches and still be suffering with scalability problems.”
                                    </p>
                                    <blockquote class="blockquote">
                                        <span text-uppercase><b>Patrick Herlihy</b></span>
                                    </blockquote>
                                    <!-- Footer -->
                                    <footer class="blockquote-footer">
                                    <span class="h6 text-uppercase">CONFIGURATION MANAGEMENT SPECIALIST, NVIDIA</span>

                                    </footer>

                                </blockquote>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="card-body p-5 h-100">                           
                                <blockquote class="blockquote text-center align-items-center mb-0 h-100">
                                    <!-- Brand -->
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                                            <!-- Logo -->
                                            <div class="img-fluid">                         
                                                <img src="../../../assets/img/customers/esa_logo_gray.svg" class="filter-esa" alt="Nvidia case study" width="150"> 
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                    <!-- Text -->
                                    <p class="mb-5 mb-md-7">
                                    “To see people collaborating is contagious. People are saying, ‘Hey, I want to have a project like that!’ or ‘I want to participate.’ These kinds of things can happen because everybody has access.”
                                    </p>
                                    <blockquote class="blockquote">
                                        <span text-uppercase><b>Redouane Boumghar</b></span>
                                    </blockquote>
                                    <!-- Footer -->
                                    <footer class="blockquote-footer">
                                    <span class="h6 text-uppercase">RESEARCH FELLOW AT ESA</span>

                                    </footer>

                                </blockquote>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="card-body p-5 h-100">                           
                                <blockquote class="blockquote text-center align-items-center mb-0 h-100">
                                    <!-- Brand -->
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                                            <!-- Logo -->
                                            <div class="img-fluid">                         
                                                <img src="../../../assets/img/customers/logo_cncf-color.svg" class="filter-esa" alt="CNCF case study" width="150"> 
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                    <!-- Text -->
                                    <p class="mb-5 mb-md-7">
                                    “GitLab takes the culture of the community and brings it to where you can actually codify how humans can interact together well. That’s difficult to capture, and I think GitLab does a really excellent job of not forcing people but really encouraging a collaborative beneficial work environment.”
                                    </p>
                                    <blockquote class="blockquote">
                                        <span text-uppercase><b>Chris McClimans</b></span>
                                    </blockquote>
                                    <!-- Footer -->
                                    <footer class="blockquote-footer">
                                    <span class="h6 text-uppercase">CROSS-CLOUD CI PROJECT CO-FOUNDER</span>

                                    </footer>

                                </blockquote>
                            </div>
                        </ng-template>
                    </swiper>
                    
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div> <!-- / .row -->
        </div>
    </div>
</section>
