<section id="section-feature" class="pt-5"> 
    <div class="container">
    <div class="row col-md-8 mx-auto text-center header-section text-gray-dark">
            <h2 class="mb-4 text-gray-dark" data-aos="fade-up"  data-aos-delay="50">How does GitLab help these companies become more productive, efficient and effective?</h2> 
            <p class="mb-24" data-aos="fade-up"  data-aos-delay="100">A DevOps platform improves a lot more than the bottom line.</p>
        </div>
    </div>
    <div class="feature-list my-5 py-5">
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-6 col-12 my-2" data-aos="fade-up-right"  data-aos-delay="150">
                <a href="https://about.gitlab.com/stages-devops-lifecycle/continuous-integration/" target="_blank" class="feature__link" >
                    <div class="card h-100 card-shadow border-top border border-3 border-end-0 border-bottom-0 border-start-0 border-purple rounded">
                        <div class="card-body card-text-purple">
                            <h5 class="card-title">Continuous Integration and Delivery</h5>
                            <p class="card-text">Build high-quality applications at scale with GitLab CI/CD. Accelerate your digital transformation journey, break down department silos, and streamline efficiency.</p>
                            <p class="feature__description"></p> 
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Ensure every code change is releasable</li>
                            </ul>
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Scale testing with parallel builds and flexible pipelines</li>
                            </ul>
                            <ul class="feature__subfeatures" >
                                <li class="feature__subfeature" >Save time with auto-scaling CI/CD job runners</li>
                            </ul>
                        </div>
                    </div>
                    
                </a>
                
            </div>
            <div class="col-lg-6 col-12 my-2" data-aos="fade-up-left"  data-aos-delay="150">
                <a href="https://about.gitlab.com/stages-devops-lifecycle/continuous-integration/" target="_blank" class="feature__link" >
                    <div class="card card-shadow h-100 border-top border border-3 border-end-0 border-bottom-0 border-start-0 border-orange rounded">
                        <div class="card-body card-text-orange">
                            <h5 class="card-title">Accelerated software development</h5>
                            <p class="card-text">Delivering software innovation faster can give your organization a competitive advantage, and allow it to truly compete on the digital playing field.</p>
                            <p class="feature__description"></p> 
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Collaborate across team silos</li>
                            </ul>
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Automate builds and testing</li>
                            </ul>
                            <ul class="feature__subfeatures" >
                                <li class="feature__subfeature" >Automate deployment and configuration</li>
                            </ul>
                        </div>
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-6 col-12 my-2" data-aos="fade-up-right"  data-aos-delay="200">
                <a href="https://about.gitlab.com/stages-devops-lifecycle/continuous-integration/" target="_blank" class="feature__link" >
                    <div class="card card-shadow h-100 border-top border border-3 border-end-0 border-bottom-0 border-start-0 border-yellow rounded">
                        <div class="card-body card-text-yellow">
                            <h5 class="card-title">Agile Project Management</h5>
                            <p class="card-text">Gain visibility across your organization to deliver on time and on budget. Enable cross-functional collaboration and keep stakeholders connected with kanban boards, epics, and roadmaps.</p>
                            <p class="feature__description"></p> 
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Link issues with code changes</li>
                            </ul>
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Manage sprints & backlogs</li>
                            </ul>
                            <ul class="feature__subfeatures" >
                                <li class="feature__subfeature" >Connect strategy to execution</li>
                            </ul>
                        </div>
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-6 col-12 my-2" data-aos="fade-up-left"  data-aos-delay="200">
                <a href="https://about.gitlab.com/stages-devops-lifecycle/continuous-integration/" target="_blank" class="feature__link" >
                    <div class="card card-shadow h-100 border-top border border-3 border-end-0 border-bottom-0 border-start-0 border-red rounded">
                        <div class="card-body card-text-red">
                            <h5 class="card-title">Source Code Management</h5>
                            <p class="card-text">Deliver better software faster with our enterprise-ready version control and collaboration. Coordinate work, track and review changes, and manage delivery all in one interface./p>
                            <p class="feature__description"></p> 
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Streamline code reviews with live previews</li>
                            </ul>
                            <ul class="feature__subfeatures">
                                <li class="feature__subfeature" >Leverage custom project templates and automated workflows</li>
                            </ul>
                            <ul class="feature__subfeatures" >
                                <li class="feature__subfeature" >Manage projects and teams of any size</li>
                            </ul>
                        </div>
                    </div>
                    
                </a>
            </div>
        </div>         
    </div>
    </div>
</section>

