<header id="header" class="position-absolute top-0 start-0 end-0">
    <div class="container">
        <app-navbar></app-navbar>
    </div> 
</header>
<main>
    <router-outlet></router-outlet>  
    <app-footer></app-footer>
</main>

