<swiper [spaceBetween]="5" [slidesPerView]="6" [breakpoints]="responsive"
        [loop]="true" [autoplay]="autoplay" class="mySwiper text-center" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="50">
    <ng-template swiperSlide *ngFor="let customer of customers" >
        <a href="{{customer.urlCustomer}}" target="_blank">
            <img src="{{customer.dirImg}}" 
            alt="{{customer.nomCustomer}}" width="100">
            
        </a>
    </ng-template>
</swiper>
