<section id="section-benefice" class="bg-purple pt-12 pt-md-15 pb-5 pb-md-11 "> 
    <div class="container">
        <div class="row col-md-8 mx-auto text-center header-section text-gray-dark">
            <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">Speed. Efficiency. Trust.</h2> 
            <p class="mb-5 text-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">GitLab helps enterprises innovate quickly with all-in-one CI/CD, source code management, and security.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 text-center my-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
                <div class="card card-shadow h-100" >
                    <div class="justify-content-center my-3">
                        <img alt="image collaboration" src="../../../../assets/img/card/slp-collaboration.svg" width="100" >
                    </div>
                    <div class="card-body">
                      <h5 class="card-title  mb-5"><b>Enabling Asynchronous Collaboration</b></h5>
                      <p class="card-text mb-5">A modern software factory encourages the collaboration and teamwork needed to address the challenges of building and delivering applications. Break down silos to coordinate seamlessly across development, operations, and security with a consistent experience across the development lifecycle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 text-center my-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="card card-shadow h-100" >
                    <div class="justify-content-center my-3">
                        <img alt="image slp-lessrisk" src="../../../../assets/img/card/slp-lessrisk.svg" width="100" >
                    </div>
                    <div class="card-body">
                      <h5 class="card-title  mb-5"><b>Quality, Accountability and Compliance</b></h5>
                      <p class="card-text mb-5">The backbone of the software factory is the continuous integration pipeline which automates development tasks to be completed for every code change. Remediate code quality issues and report changes in real-time with centralized reporting and a single view for both development and security.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 text-center my-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="card card-shadow h-100" >
                    <div class="justify-content-center my-3">
                        <img alt="image increase" src="../../../../assets/img/card/slp-increase.svg" width="100" >
                    </div>
                    <div class="card-body">
                      <h5 class="card-title  mb-5"><b>Increase Operational Efficiency</b></h5>
                      <p class="card-text mb-5">Simplify the software development toolchain to reduce total cost of ownership with a system that provides an efficient and collaborative developer experience. GitLab helps enterprises innovate quickly with all-in-one CI/CD, source code management, and security.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

