<section id="section-price" class=" py-5"> 
    <div class="container">
        <div class="row col-md-8 mx-auto text-center header-section text-gray-dark">
                <h2 class="mb-5 text-gray-dark"  data-aos="fade-up"  data-aos-delay="50"> Get the DevOps platform</h2> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 my-3"  data-aos="fade-up"  data-aos-delay="100">
                <div class="card card-shadow border-top border border-3 border-end-0 border-bottom-0 border-start-0 border-black rounded">
                    <div class="text-center w-100 mt-3">
                        <svg width="81" height="38" viewBox="0 0 81 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M67.9531 17.6143C68.247 16.927 69.1634 16.7934 69.6414 17.368L77.3214 26.6021C77.8209 27.2027 77.4698 28.1184 76.6969 28.2311L64.294 30.04C63.5211 30.1527 62.9231 29.3754 63.2303 28.6572L67.9531 17.6143Z" fill="#1DBA9E"/>
                            <rect x="4.61035" y="22.4795" width="11" height="11" rx="1" transform="rotate(24.7784 4.61035 22.4795)" fill="#1DBA9E"/>
                            <circle cx="36.02" cy="5.5" r="5.5" fill="#9B51E0"/>
                        </svg>
                    </div>
                    
                  <div class="card-body">
                    <h5 class="card-title text-center text-up border-bottom">FREE</h5>
                    <div class="pricing-price text-center w-100"><span>$</span>0</div>
                    <p class="card-text text-center"><small class="text-muted">per user/month <br> No credit card required</small></p>
                    <div class="description"></div>
                    <div class="pricing-body text-center w-100">
                        <p>Free-forever features for individual users</p>
                    </div>
                    <a class="btn btn-outline-dark btn-lg text-center w-100" href="#">Get started</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 my-3" data-aos="fade-up"  data-aos-delay="150">
                <div class="card card-shadow border-top border border-3 border-end-0 border-bottom-0 border-start-0 border-purple rounded">
                    <div class="text-center w-100 mt-3">
                        <svg width="96" height="52" viewBox="0 0 96 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M80.7289 32.4677C80.7936 31.7234 81.6229 31.3094 82.2566 31.7051L93.2649 38.5778C93.9278 38.9917 93.8794 39.9719 93.1788 40.3203L81.0495 46.3519C80.3502 46.6997 79.5404 46.1493 79.6079 45.3721L80.7289 32.4677Z" fill="#9B51E0"/>
                            <rect width="10.9484" height="10.9592" rx="1" transform="matrix(0.562307 0.826928 -0.828316 0.560261 9.07764 36.8064)" fill="#1DBA9E"/>
                            <path d="M39.3947 5.21451C39.1913 4.72729 39.7855 4.30247 40.1854 4.64914L51.5396 14.4924C51.8198 14.7353 51.7486 15.1852 51.4075 15.3281L46.7701 17.2701C46.516 17.3765 46.3971 17.6678 46.5042 17.9216L50.3743 27.0972C50.5804 27.5858 49.9825 28.0128 49.5825 27.6628L37.0327 16.6797C36.7555 16.4371 36.8257 15.9908 37.1638 15.8468L42.3718 13.6286C42.6234 13.5214 42.7409 13.2325 42.6356 12.98L39.3947 5.21451Z" fill="#FA7035"/>
                            </svg>
                            
                    </div>
                    
                  <div class="card-body">
                    <h5 class="card-title text-center text-up border-bottom">PREMIUM</h5>
                    <div class="pricing-price text-center w-100"><span>$</span>19</div>
                    <p class="card-text text-center"><small class="text-muted">per user/month <br> No credit card required</small></p>
                    <div class="description"></div>
                    <div class="pricing-body text-center w-100">
                        <p>Enhance team productivity and coordination</p>
                    </div>
                    <a class="btn btn-purple btn-lg text-center w-100" href="#">Buy Gitlab Premium</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 my-3" data-aos="fade-up"  data-aos-delay="200">
                <div class="card card-shadow border-top border border-3 border-end-0 border-bottom-0 border-start-0 border-orange rounded">
                    <div class="text-center w-100 mt-3">
                        <svg width="86" height="49" viewBox="0 0 86 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="79.4629" cy="32.2342" rx="6.5" ry="6.42244" fill="#1DBA9E"/>
                            <path d="M12.6097 29.7149C13.2221 29.2866 14.0713 29.657 14.1742 30.3971L15.8054 42.137C15.9123 42.9067 15.1384 43.4983 14.423 43.1937L2.97453 38.3193C2.25197 38.0117 2.14914 37.0302 2.79234 36.5804L12.6097 29.7149Z" fill="#9B51E0"/>
                            <path d="M52.7808 12.0758C52.9399 12.357 52.8992 12.6764 52.6865 12.8928L44.9723 20.7521L35.0369 15.8037C34.7606 15.6568 34.6014 15.3756 34.6422 15.0562L35.13 11.7427L36.0994 5.20497C36.1402 4.88555 36.6139 4.77901 36.7514 5.11229L39.8261 10.9967L46.5366 9.90557L47.5059 3.36781C47.5467 3.04839 47.9834 2.95689 48.1579 3.27513L51.2326 9.15958L52.7808 12.0758Z" fill="#FA7035"/>
                            </svg>
                            
                    </div>
                    
                  <div class="card-body">
                    <h5 class="card-title text-center text-up border-bottom">ULTIMATE</h5>
                    <div class="pricing-price text-center w-100"><span>$</span>99</div>
                    <p class="card-text text-center"><small class="text-muted">per user/month <br> No credit card required</small></p>
                    <div class="description"></div>
                    <div class="pricing-body text-center w-100">
                        <p>Organization wide security, compliance, and planning</p>
                    </div>
                    <a class="btn btn-orange btn-lg text-center w-100" href="#">Buy Gitlab Ultimate</a>
                </div>
                </div>
              
            </div>

        </div>            
    </div>
    <div class="container my-5">
        <div class="row text-center pb-5" data-aos="fade-up"  data-aos-delay="200">
            <h4>All plans have unlimited (private) repositories. Use it SaaS or Self-Managed.</h4>
        </div>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-4 my-3" data-aos="fade-up"  data-aos-delay="250">
                <div class="add-on-container slp-mb-16 mx-auto md:slp-mb-0">
                    <h3 class="add-on-header slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-pb-8">Add-on subscriptions</h3>
                    <p class="add-on-subheader slp-text-grayscale-333 slp-text-base slp-leading-normal slp-mb-0">Purchase additional CI/CD minutes or storage for your group or personal namespaces. Repository storage of 10GB per project is free across all tiers.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 slp-mb-0 my-3" data-aos="fade-left"  data-aos-delay="250">
                <a href="https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0086a07f4a8016a2c0a1f7b4b4c&amp;transaction=ci_minutes">
                    <div class="card card-shadow border-0" >
                        <div class="card-body">
                          <h5 class="card-title text-center mb-0">CI/CD Minutes</h5>
                            <div class="d-flex flex-row justify-content-center align-items-center slp-mb-16">
                                <p class="slp-text-grayscale-333 slp-text-5xl slp-text-center mb-0 slp-mr-12">$10</p>
                                <div>
                                    <p class="slp-text-grayscale-333 text-sm slp-leading-normal slp-font-bold mb-0">per 1,000 minutes</p>
                                    <p class="slp-text-grayscale-333 text-sm slp-leading-normal slp-font-normal mb-0">One time payment</p>
                                </div>
                            </div>
                            <a class="d-flex flex-row justify-content-center align-items-center font-bold text-sm leading-6 hover:slp-underline group-hover:slp-text-ui-secondary slp-text-ui-secondary-dark slp-block slp-text-center" href="https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0086a07f4a8016a2c0a1f7b4b4c&amp;transaction=ci_minutes">
                                <span>Buy CI Minutes</span>
                                <span class="slp-flex slp-items-center slp-ml-8"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.7071 4.29289L15.4142 8L11.7071 11.7071C11.3166 12.0976 10.6834 12.0976 10.2929 11.7071C9.90237 11.3166 9.90237 10.6834 10.2929 10.2929L11.5858 9H2C1.44771 9 1 8.55228 1 8C1 7.44772 1.44771 7 2 7H11.5858L10.2929 5.70711C9.90237 5.31658 9.90237 4.68342 10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z" fill="currentColor"></path>
                                </svg>
                                </span>
                                </a>
                        </div>
                      </div>
                </a>
              </div>
              <div class="col-md-6 col-lg-4 slp-mb-0 my-3" data-aos="fade-left"  data-aos-delay="250">
                <a href="https://customers.gitlab.com/subscriptions/new?plan_id=2c92a00f7279a6f5017279d299d01cf9&amp;transaction=storage">
                    <div class="card card-shadow border-0 " >
                        <div class="card-body">
                            <h5 class="card-title text-center mb-0">Storage</h5>
                            <div class="d-flex flex-row justify-content-center align-items-center slp-mb-16">
                                <p class="slp-text-grayscale-333 slp-text-5xl text-center mb-0 slp-mr-12">$60</p>
                                <div>
                                    <p class="slp-text-grayscale-333 text-sm slp-leading-normal slp-font-bold mb-0">per 10 GB</p>
                                    <p class="slp-text-grayscale-333 text-sm slp-leading-normal slp-font-normal mb-0">Renews anually</p>
                                </div>
                            </div>
                            <a class="d-flex flex-row justify-content-center align-items-center slp-font-bold text-sm slp-leading-6 hover:slp-underline group-hover:slp-text-ui-secondary slp-text-ui-secondary-dark slp-block text-center" href="https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0086a07f4a8016a2c0a1f7b4b4c&amp;transaction=ci_minutes">
                                <span>Buy CI Minutes</span>
                                <span class="slp-flex slp-items-center slp-ml-8"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.7071 4.29289L15.4142 8L11.7071 11.7071C11.3166 12.0976 10.6834 12.0976 10.2929 11.7071C9.90237 11.3166 9.90237 10.6834 10.2929 10.2929L11.5858 9H2C1.44771 9 1 8.55228 1 8C1 7.44772 1.44771 7 2 7H11.5858L10.2929 5.70711C9.90237 5.31658 9.90237 4.68342 10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z" fill="currentColor"></path>
                                </svg>
                                </span>
                                </a>
                            
                        </div>
                    </div>
                </a>
            </div> 
            </div>
    </div>
</section>
<div class="position-relative mt-n8 final-section">
    <div class="shape shape-bottom shape-fluid-x text-light-gray">
      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path></svg>      </div>
  </div>