body
    font-family: $font-sans
    color: $gray-dark-color
    font-size: 1.125rem
    font-weight: 400
    line-height: 1.5
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

main
    height: 100vh

a
    text-decoration: none
    color: unset

// buttom 

.btn-yellow
    background-color: $yellow-color
    color: $white-color
    &:hover
        color: $white-color


.btn-orange
    background-color: $orange-color
    color: $white-color   
    &:hover
        color: $white-color
        background-color: $orange-dark-color

.btn-outline-orange
    color: $orange-color
    border-color: $orange-color
    &:hover
        color: $white-color
        background-color: $orange-color

.btn-outline-purple
    color: $purple-color
    border-color: $purple-color
    &:hover
        color: $white-color
        background-color: $purple-color

.btn-red
    background-color: $red-color
    color: $white-color
    &:hover
        color: $white-color

.btn-purple
    background-color: $purple-color
    color: $white-color
    &:hover
        color: $white-color
        background-color: #31215e

.btn-transition
    transition: all .2s ease-in-out
    &:hover
        transform: translateY(-.1875rem)
        box-shadow: $box-shadow-sm

//border

.border-yellow
    border-color: $yellow-color!important

.border-orange
    border-color: $orange-color!important

.border-red
    border-color: $red-color!important

.border-purple
    border-color: $purple-color!important
.border-black
    border-color: #000!important
// text
.text-gray-dark
    color: $gray-dark-color

.text-purple-light
    color: $purple-light-color!important

.text-purple
    color: $purple-color!important

.text-light-gray
    color:#f9fbfd

.slp-text-sm 
    font-size: 1.4rem!important
.slp-text-5xl 
    font-size: 6rem!important
     line-height: 6.4rem!important

.mt-md-n15 
    margin-top: -16rem!important
.pb-md-11 
    padding-bottom: 6rem!important

@media (min-width: 768px)
    .pt-md-15 
        padding-top: 16rem!important

// filter color

.filter-goldman
    filter: invert(70%) sepia(11%) saturate(1586%) hue-rotate(175deg) brightness(83%) contrast(83%)

.filter-siemers
    filter: invert(53%) sepia(70%) saturate(6890%) hue-rotate(159deg) brightness(97%) contrast(105%)
.filter-esa
    filter: invert(11%) sepia(88%) saturate(1429%) hue-rotate(167deg) brightness(89%) contrast(103%)
// clip

/*.clip-diagonal
    clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%)

// spacing
.py-11 
    padding-bottom: 6rem!important
    padding-top: 6rem!important

.py-13 
    padding-bottom: 10rem!important
    padding-top: 10rem!important

.mb-8 
    margin-bottom: 3rem!important

// background colot
.bg-purple
    background-color: $purple-color!important

// SHAPE
.shape 
    pointer-events: none
    position: absolute
    &:not([class*=shape-blur])
        overflow: hidden
    &:not([class*=shape-blur]) >
        * 
            transform: scale(2)

.shape-bottom 
    bottom: 0
    left: 0
    right: 0

.shape-fluid-x > 
    * 
        height: auto
        width: 100%
.shape-fluid-y >
    * 
        height: 100%
        width: auto

.shape-bottom >
    * 
        transform-origin: top center

.shape >
    * 
        display: block
.shape-end 
    bottom: 0
    left: 0
    right: 0
    top: 0
    z-index: 5

.shape-end >
    * 
        bottom: inherit
        position: inherit
        right: inherit
        top: inherit
        transform-origin: center left

//  bg left bg right gitlab
.image-border 
    position: absolute
    top: 0
    height: 100%
    min-height: 400px
    opacity: .2
    
.image-border-left
    left:0

.image-border-right
    right:0


// section

.final-section
    z-index: -5

///import css-variables from 
.animation-icon-container 
    position: absolute
    width: calc(100% - 40px)
    left: 20px
    top: 0
    display: flex
    justify-content: space-between
    align-items: center
    .animation-icon 
        height: 30px
        opacity: 0
        animation: fadeAnimatedIcon 12s linear infinite forwards
        svg 
            height: 100%
            fill: #548
            pointer-events: none

@keyframes fadeAnimatedIcon
    0% 
        opacity:.3
    to
        opacity:0
        transform: translateY(400px)