
#section-customers
    .mySwiper
        a
            img
                filter: invert(29%) sepia(64%) saturate(534%) hue-rotate(214deg) brightness(85%) contrast(90%)
        .swiper-wrapper
            align-items: center

#section-feature
    background-image: linear-gradient(180deg,#f9fbfd 0,#fff)
    background-attachment: fixed
    background-repeat: repeat
    background-size: cover
    background-blend-mode: soft-light
    .card
        padding: 2rem
        margin: 0.5rem 0.5rem 2rem
        background-color: $white-color
        border-radius: 4px
    .feature-list
        
        .feature__subfeatures
            list-style: disc
            margin-left: 3rem
        .card-title
            font-weight: 600
            margin-bottom: 0.5rem
    .card-shadow
        box-shadow: $box-shadow
        transition: all 0.2s ease-in-out
        &:hover
            box-shadow: $box-shadow-lg
            transform: translateY(-.1875rem)
    .card-text-purple
        color: $purple-color
        &:hover
            color: $purple-color
    .card-text-yellow
        color: $yellow-color
        &:hover
            color: $yellow-color
    .card-text-orange
        color: $orange-color
        &:hover
            color: $orange-color
    .card-text-red
        color: $red-color
        &:hover
            color: $red-color

#section-testimonial
    .mySwiperT
        .swiper-wrapper
            align-items: center
    .swiper-button-prev, .swiper-rtl .swiper-button-next 
        transform: translate(-50%, 0)
        left: 0
        align-items: center
        background-color: #335eea
        box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 5%)
        color: #fff
        display: flex
        height: calc(1.6em + 1.625rem + 2px )
        justify-content: center
        width: calc(1.6em + 1.625rem + 2px )
        border-radius: 50%
        &::after
            font-size: 20px
    .swiper-button-next, .swiper-rtl .swiper-button-prev 
        transform: translate(50%, 0)
        align-items: center
        background-color: #335eea
        box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 5%)
        color: #fff
        display: flex
        height: calc(1.6em + 1.625rem + 2px )
        justify-content: center
        width: calc(1.6em + 1.625rem + 2px )
        border-radius: 50%
        &::after
            font-size: 20px
            
#section-trial
    background-color:  #f9fbfd

#section-price
    .pricing-price
        position: relative
        display: inline-block
        padding: 10px 0
        font-weight: 600
        font-size: 4rem
    .pricing-body 
        color: #788487
    .card-title
        font-size: 2.5rem
        font-weight: 400
        line-height: 5.2rem
    .card-shadow
        box-shadow: $box-shadow
        transition: all 0.2s ease-in-out
        &:hover
            box-shadow: $box-shadow-lg
            transform: translateY(-.1875rem)
#section-benefice
    .card-shadow
        box-shadow: $box-shadow
        transition: all 0.2s ease-in-out
        &:hover
            box-shadow: $box-shadow-lg
            transform: translateY(-.1875rem)
footer
    .text-reset 
        color: inherit!important
    .footer-logo 
        position: absolute
        top: -36px
        left: 50%
        margin-left: -32.5px

